body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: black;
  display: flex;
  justify-content: center;
}

#time {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  font-weight: bold;
}

#spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  font-weight: bold;
}
